<header>
    <div class="logo">
        <img height="49px" src="assets/images/filed-logo.jpeg" alt="logo">
    </div>
    <div>Assignment</div>
</header>
<div class="container">
    <div class="left">
        <a role="button" class="create-button" routerLinkActive="active-link" routerLink="/create">Create User</a>
        <br><br>
        <a role="button" class="create-button" routerLinkActive="active-link" routerLink="/users">User's List</a>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
        <div class="action-message" [hidden]="!paymentService.showToast">
            User created successfully...
        </div>
    </div>
</div>
<footer>
    copyright&copy;
</footer>