/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    background: rgb(199, 27, 27);
    color: #fff;
    height: 50px;
    justify-content: space-between;
    vertical-align: middle;
    padding-left: 5px;
    padding-right:5px;
}

footer{
    display: flex;
    background: rgb(199, 27, 27);
    color: #fff;
    height: 50px;
    justify-content: center;
    line-height: 3rem;
    padding-left: 5px;
    padding-right:5px;
}

header div{
    max-height: 50px;
    line-height: 3rem;
}

div.logo{
    margin-left: -5px;
    vertical-align: middle;
}

.action-message{
    color: #ffffff;
    background: green;
    position: fixed;
    top: 60px;
    right: 0px;
    padding: 5px 15px;
}

div.container{
    display: flex;
    height: calc(100vh - 100px);
    justify-content: left;
    overflow-y: scroll;
}

div.right{
    padding: 5px;
}

div.left{
    width: 300px;
    max-width: 300px;
    text-align: center;
    padding: 50px 15px;
}

.active-link{
    opacity: 1 !important;
}

div.left .create-button {
    opacity: 0.5;
    text-decoration: none;
    outline: none;
    border: 0px;
    background: #497c49;
    padding: 8px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

div.right ul{
    padding: 0;
    margin: 0;
}

div.right ul li{
    list-style: none;
    display: block;
    border-bottom: 1px solid black;
}

table{
    width: 100%;
}

table thead{
    text-align: center;
}

table tr>td{
    padding: 5px 10px;
}

.create-user{
    display: block;
    margin: 10px;
}

.form-field{
    display: block;
    padding: 10px;
    width: 350px;
    position: relative;
}

.form-field input{
    width: 100%;
    outline: none;
    border: 0;
    border-bottom: 2px solid #474444;
    margin-top: 15px;
    display: block;
    position: relative;
    font-size: 18px;
}

.text-danger{
    color:rgb(184, 76, 76)
}

.form-field button{
    border: 0;
    outline: none;
    background: #ABD0BC;
    padding: 5px 15px;
    font-size: 18px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.form-field button:first-child{
    margin-right: 5px;
}

.form-field button:last-child{
    background: rgb(184, 76, 76);
    color: #ffffff;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
    top:10px;
  bottom: 10px;
  left: 10px;
}

input:focus ~ .floating-label,
input:focus:valid ~ .floating-label{
  top: 0px;
  opacity: 0.6;
  font-weight: 600;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
}